@{
    ViewData["Title"] = "Opciones";
}

<a class="btn btn-info" href="/Admin/SubirExcel">Subir Excel</a>
<a class="btn btn-danger" href="/Admin/VerDatosExcel">Ver datos del excel</a>
<a class="btn btn-dark" href="/Admin/ExportarDatos">Exportar datos del excel a la BD</a>
